<%- include ('../../partials/_header.ejs') %>
<%- include ('../../partials/_navbar.ejs') %>
<body>
    

    <div class="container">
    <hr>
    <div class="card">
    <div class="card-header">
        <h2>Novo artigo</h2>
    </div>
    <div class="card-body">
        <form method="POST" action="/articles/save">
            <input name="title" class="form-control" type="text" placeholder="Defina o título do artigo">
        </br>
            <textarea id="article" class='form-control' placeholder="Escreva aqui seu artigo" name="body"></textarea>
        </br>
        <label for="">Categoria</label>
        <select name="category" id="" class="form-control">
            <% categories.forEach((category) => {%>
                <option value="<%=category.id%>"><%= category.title %></option>
            <%})%>
        </select>
    </br>
            <button class="btn btn-primary">Cadastrar</button>
            <a class='btn btn-primary' href="/admin/articles">Voltar</a>
        </form>
    </div>
    </div>
    </div>
</body>
<%- include ('../../partials/_footer.ejs') %>
<!--Chamando o tinymce-->
<script src="/tinymce/tinymce.min.js"></script>
<script>
    //configurando o tinymce para a textarea (id->article)
    tinymce.init({
        language:'pt_BR',
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ]
    })
</script>
